/* styles added by eric hahn/ksd starting 8 July 2014 */

#un_icon {
  background: url(http://www.un.org/apps/news/en/images/en_unicon_w.png) no-repeat 0 0;
  text-indent: 5px;
  color: white;
}

#un_icon a {
  color: white;
  margin-left: 5px;  
}

.language-switcher-locale-url li a {
  color: white;
}
/*
#brand_slogan {
  margin-left: 20px;
}
*/
ul.language-switcher-locale-url {
  position: relative;
}

ul.language-switcher-locale-url {
  margin: 0 0 0 0;
  float: right;
}

ul.language-switcher-locale-url li {
  float: left;
  list-style: none outside none;
}

ul.language-switcher-locale-url li {
  margin: 0 0 0 0.5em;
  padding: 0 0.5em 0 0;
}

#dhl_logo #dhl_logo_img, h1 {
  float: left;
  color: white;
} 

#dhl_logo_img {
  margin-right: 20px;
}

.navbar_row {
  margin-bottom: 10px;
}

#home_browse_row img {
  width: 100%;
}

ul#footer_links {
  list-style: none;
  float: right;
  display: block;	
}

ul#footer_links li {
  list-style: none outside none;
  float: left;
  margin-left: 15px;
}

li.ds-artifact-item {
	padding: 10px;
}

li.ds-artifact-item.odd {
	background-color: #f9f9f9;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

.item_landing_page_left_sidebar {
	background-color: #f9f9f9;
	border: 1px solid #ddd; 
}

.item_landing_page_left_sidebar ul li {
    	list-style-type: none;
	margin: 5px 0;
}

i.glyphicon-file {
	margin-right: 5px;
}

.bodies_list a {
	color: #ffffff;
}

.bodies_list a:hover {
        color: #607890;
}

.item-summary-view-metadata h2 {
	margin-top: 15px;
}


